<% layout("layout") -%>

    <h1><%= title %></h1>



    <% if (signedin === true) { %>

      <p>Hei <%= first_name %> <%= last_name %>!, du er logget inn.</p>

      <form class="" action="logout" method="post">
        <input type="submit"value="Logg Ut">
      </form>

    <% } else { %>

      <form id = "" class="" action="authenticate" method="post">
        <div>
          <table>
            <tr>
              <td>  <label for="username">Brukernavn: </label> </td>
              <td> <input type="text" id="username" name="username"><br> </td>
            </tr>
            <tr>
              <td> <label for="pass">Passord: </label> </td>
              <td> <input type="password" id="pass" name="pass"><br> </td>
            </tr>
          </table>
        </div>

        <input type="submit" value="Logg Inn">
      </form>

    <% } %>

    <% if (cart) { %>

      <% for (i in cart.items) { %>

         <p> <%= cart.items[i].product.full_name %> </p>

      <% } %>

      <div class="container">
    	<div class="header">

    	  <form id="" class="" action="search" method="post">
    		<div>
    		  <label for="sok">Søk: </label>
    		  <input type="text" id="sok" name="formsearch" value="<%= search %>">
    		  <br>
    		</div>

    		<input type="submit" value="Søk">
    	  </form>
    	</div>
    	<div class="sidebar"></div>
    	<div class="content">
    		<ul class="search-result">
    		<% if (data) { %>
    			<% for (i in data.products){ %>
    				<li class="search-item">
    					<div class="img-container">
    					<img class="img-thumb img-thumbnail img-fluid" src="<%= data.products[i].images[0].thumbnail.url %>" alt="">
    				</div>
    					<p id="item-name">	<%= data.products[i].name %> </p>
    					<p id="item-price">	<%= data.products[i].gross_price %> </p>
    				</li>
    			<% } %>
    		  <% } else {%>
    				<p>No data.</p>
    			<% } %>

    		</ul>
    	</div>
      </div>

    <% } %>

