<!DOCTYPE html>
<html>

<head>
  <title>
	<%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' href="/stylesheets/searchstyle.css" />

</head>

<body>
  <script src="/reload/reload.js"></script>

  <div class="container">
	<div class="header">

	  <form id="" class="" action="search" method="post">
		<div>
		  <label for="sok">Søk: </label>
		  <input type="text" id="sok" name="formsearch" value="<%= search %>">
		  <br>
		</div>

		<input type="submit" value="Søk">
	  </form>
	</div>
	<div class="sidebar"></div>
	<div class="content">
		<ul class="search-result">
		<% if (data) { %>
			<% for (i in data.products){ %>
				<li class="search-item">
					<img class="img-thumb" src="<%= data.products[i].images[0].thumbnail.url %>" alt="">
					<p>	<%= data.products[i].name %> </p>
					<p>	<%= data.products[i].gross_price %> </p>
				</li>
			<% } %>
		  <% } else {%>
				<p>No data.</p>
			<% } %>

		</ul>	
	</div>
  </div>




</body>

</html>



<!--

/*

<% if (data) { %>
  <table>
	<% for (i in data.products){ %>
	  <tr>
		<td>
		  <img src="<%= data.products[i].images[0].thumbnail.url %>" alt="">
		</td>
		<td>
		  <p>
			<%= data.products[i].name %>
		  </p>
		</td>
		<td>
		  <p>
			<%= data.products[i].gross_price %>
		  </p>
		</td>
	  </tr>
	  <% } %>
  </table>
  <% } else {%>
	<p>No data.</p>
	<% } %>
*/
-->