
            <ul class="recipe-planner-items">
                <div class="meals">
            
            <% if(currentDay.Meals.length > 0) {%>
                <% for(meal of currentDay.Meals) { %>
                <div>
                    <p class="recipe-planner-meal-title"><%= meal.Title %></p>
                    <img class="recipe-planner-meal-image" src="<%= meal.Image %>">
                </div>
                <% }%>
            <% }%>
                </div>
            <% if(currentDay.Products.length > 0) {%>								
                <div class="products">
                <% for(product of currentDay.Products) { %>
                <div>
                    <img class="recipe-planner-product-image" src="<%= product.Image %>">
                    <p class="recipe-planner-product-title"><%= product.Name %></p>
                    <p class="recipe-planner-product-price"><%= product.Price %></p>
                </div>
                <% }%>
            </div>
                
            <% }%>

                        
                    