	<div class="meals">
		
		<a class="see-more-icon fa fa-info-circle" data-toggle="modal" data-target=".planner-modal" name="see-more"><p class="see-more-text">Se detaljer</p></a>

		<% if(currentDay.Meals.length > 0) {%>
				<h3 class="recipe-main-title">Oppskrifter (<%= currentDay.Meals.length  %>):</h3>

				<% for(meal of currentDay.Meals) { %>
				<div>
                    <p class="recipe-planner-meal-title"><%= meal.Title %></p>
                </div>
				<% }%>
			<% }%>
				</div>
			<% if(currentDay.Products.length > 0) {%>								
				<div class="products">
				<h3 class="product-main-title">Enkeltvarer</h3>
                <h4 class="grocery-amount">Antall: <%= currentDay.Products.length  %></h4>
				<% for(product of currentDay.Products) { %>

                    
				<% }%>



				</div>
				<div>
			</div>

				
			
			  
			  <!-- Modal -->
			  <div class="modal fade planner-modal" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="exampleModalLongTitle">Dag</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
							
						<div class="modal-meals">
							<% if(currentDay.Meals.length > 0) {%>
								<h3 class="modal-recipe-main-title">Oppskrifter (<%= currentDay.Meals.length %>)</h3>	
				
								<% for(meal of currentDay.Meals) { %>
								<div class="modal-meal-wrapper">
									<img class="recipe-planner-meal-image" src="<%= meal.Image %>">
									<i class="far fa-times-circle"></i>
									<p class="recipe-planner-meal-title"><%= meal.Title %></p>
								</div>


								<% }%>
						
						<% } %> 
						<% if(currentDay.Products.length > 0) {%>	
							
							
						<div class="modal-products">
								<h3 class="modal-product-main-title">Enkeltvarer (<%= currentDay.Products.length  %>)</h3>
							<% for(product of currentDay.Products) { %>
							<div class="product-wrapper">
								<img class="planner-product-image" src="<%= product.Image %>">
								<i class="modal-remove-icon far fa-times-circle"></i>
								<p class="planner-product-title"><%= product.Name %></p>
								<p class="planner-product-price">kr <%= product.Price %>,-</p>
							</div>
							<% }%>
						</div>
							<% }%>
				
					</div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
					</div>
				  </div>
				</div>
			  </div>


				
			<% }%>
				

