<% layout("layout") %>

	<div id="container-search" class="container-fluid">
		<div class="header">
			<b>
				<h1 id="h1-test">Enkeltvarer</h1>
			</b>
			<form id="grocery-search-form" action="search" method="post">

				<div id="search-input">

					<input type="text" class="sok" id="grocery-search" name="formsearch" placeholder="Søk i tusenvis av varer!" value="<%= search %>">
					<label for="search-btn" id="search-icon" class="fas fa-search"></label>
				</div>
				<input id="search" class="search-btn" type="submit" value="Søk">

			</form>

			<p class="message"></p>
		</div>
		<div class="sidebar">
			<b>
				<h2 id="category-heading">Kategorier</h2>
				<br>
			</b>
			<form>
				<div id="tree">
					<% for (i in categories.results){ %>
						<div>
						<input class="checkbox" id="category<%= i %>" type="checkbox">
						<label id="category-list" for="category<%= i %>">
						<a>
							<%= categories.results[i].name %>
						</a>
						</label>


							<div class="sub">
						
							<% for (j in categories.results[i].children) { %>
								<label class="child-cat">
									<%= categories.results[i].children[j].name%>
								</label>
								<br>
								<%	} %>
								
								
						</div>
						</div>
						<% } %>

				</div>
			</form>




		</div>
		<div class="content">
			<ul class="search-result">

			</ul>
		</div>
		<div class="footer">

		</div>
	</div>