<% layout("layout") %>

<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Hjem</a>
				</li>
				<li class="breadcrumb-item" aria-current="page">
					<a href="/week-planner-current">Planleggeren</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="/search">Andre husholdingsartikler</a>
				</li>
			</ol>
        </nav>
        
        
	<div class="progressbar-container">
			<ul class="steps">
				<li>Steg 1: Planlegge måltider for uken.</li>
				<li class="active">Steg 2: Handle andre husholdingsartikler</li>
				<li>Steg 3: Oversikt</li>
			</ul>
		</div>


<div id="container-search" class="container-fluid">
    <div class="header">
        <b>
            <h1 id="h1-test">Noe mer?</h1>
        </b>
        <p id="title-two-basis">Her kan du handle andre husholdingsartikler som ikke er planlagt for en spesiell dag.</p>
        <form id="grocery-search-form" action="search" method="post">

            <div id="grocery-search-container" class="search-input">

                <input type="text" class="sok" id="grocery-search" name="formsearch" placeholder="Søk i tusenvis av varer!" value="<%= search %>">
                <label for="search-btn" id="search-icon" class="fas fa-search"></label>
            </div>
            <input id="search" class="search-btn" type="submit" value="Søk">

        </form>

        <p class="message"></p>
    </div>
    <div class="sidebar">
        <b>
            <h2 id="category-heading">Kategorier</h2>
            <br>
        </b>
        <form>
            <div id="tree">
                <% for (i in categories.results){ %>
                    <div>
                        <input class="checkbox" id="category<%= i %>" type="checkbox">
                        <label id="category-list" for="category<%= i %>">
                            <a>
                                <%= categories.results[i].name %>
                            </a>
                        </label>


                        <div class="sub">

                            <% for (j in categories.results[i].children) { %>
                                <label class="child-cat">
                                    <%= categories.results[i].children[j].name%>
                                </label>
                                <br>
                                <%	} %>


                        </div>
                    </div>
                    <% } %>

            </div>
        </form>




    </div>
    <div class="content">
        <ul class="search-result">

        </ul>
		<a href="/cart"><label id="go-to-cart-btn" for="">Gå til <br>Oversikt</label></a>
		<a href="/week-planner-current"><label id="back-to-planner-btn" for="">Tilbake til planlegger</label></a>
    </div>
    <div class="footer">

    </div>
</div>


//Modal //Hentet fra bootstrap API
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Vare</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-primary">Kjøp</button>
            </div>
        </div>
    </div>
</div>